<div class="container">
  <header>
    <h1>What model series do you have?</h1>
  </header>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="/underConstruction">A Series</button>
    <button mat-flat-button routerLink="/underConstruction">B Series</button>
    <button mat-flat-button routerLink="/underConstruction">C Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="/underConstruction">DM Series</button>
    <button mat-flat-button routerLink="/underConstruction">E Series</button>
    <button mat-flat-button routerLink="/underConstruction">ES Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="/underConstruction">K Series</button>
    <button mat-flat-button routerLink="/underConstruction">KS Series</button>
    <button mat-flat-button routerLink="/underConstruction">KX Series</button>
  </div>
  <div class="buttonContainer">

    <button mat-flat-button routerLink="/underConstruction">MA Series</button>
    <button mat-flat-button routerLink="/underConstruction">MAN Series</button>
    <button mat-flat-button routerLink="/underConstruction">MAS Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="/underConstruction">UI Series</button>
  </div>
  <div class="information">
    <h2>Please choose an option above.</h2>
  </div>
</div>

