<div class="container">
  <header>
    <h1>What model series do you have?</h1>
  </header>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="">A Series</button>
    <button mat-flat-button routerLink="">B Series</button>
    <button mat-flat-button routerLink="">C Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="">DM Series</button>
    <button mat-flat-button routerLink="">E Series</button>
    <button mat-flat-button routerLink="">ES Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="">K Series</button>
    <button mat-flat-button routerLink="">KS Series</button>
    <button mat-flat-button routerLink="">KX Series</button>
  </div>
  <div class="buttonContainer">

    <button mat-flat-button routerLink="">MA Series</button>
    <button mat-flat-button routerLink="">MAN Series</button>
    <button mat-flat-button routerLink="">MAS Series</button>
  </div>
  <div class="buttonContainer">
    <button mat-flat-button routerLink="">UI Series</button>
  </div>
</div>

