<div class="toolbar">
  <div class="logoTextContainer" routerLink="">
    <img
      width="50"
      height="50"
      alt="Stitch It Logo"
      src="https://cdn.shopify.com/s/files/1/1236/6284/files/Final_white_updated_250x250.png?v=1631301766"
    />
    <h1>Stitch It Support</h1>
  </div>
  <div class="headerButtons">
    <button class="startTicket" mat-flat-button routerLink="/supportForm">Start a Support Ticket</button>
    <button class="trainingRegistration" mat-flat-button routerLink="/training">Register for Training</button>
  </div>
</div>
<router-outlet></router-outlet>
