<form action="submit">
  <fieldset>
    <div class="group">
      <div>
        <label for="fullName">Full Name:</label>
        <input type="text" />
      </div>
      <div>
        <label for="companyName">Company Name:</label>
        <input type="text" />
      </div>
    </div>
    <div class="group">
      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" />
      </div>
    </div>
    <div class="group">
      <div>
        <label for="brand">Brand:</label>
        <select name="brand">
          <option value="swf">SWF</option>
          <option value="oki">OKI</option>
          <option value="crio">Crio</option>
          <option value="janome">Janome</option>
          <option value="tajima">Tajima</option>
        </select>
      </div>
      <div>
        <label>Description of Issue:</label>
        <textArea value="description"></textArea>
      </div>
    </div>
    <button mat-flat-button>Submit</button>
  </fieldset>

</form>
